:root {
    --color1: rgb(219, 144, .5);
    --color2: rgba(23, 180, 83, 0.788);
    --color3: rgba(11, 194, 211, 0.623);
    --fondo: #f2f2f2;
    --titulos: 33px;
    --margenes: 60px;
    --espacios: 10px;
    --espacios-contenido: 45px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Titillium Web', sans-serif;
    background: #f1f1f2;
}

.logo img {
    vertical-align:  top;
}

/* Preloader */
.hidden {
    overflow: hidden;
}

.centrado {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #000;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lds-facebook {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 6px;
    width: 13px;
    background: #cef;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
    left: 6px;
    animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
    left: 26px;
    animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
    left: 45px;
    animation-delay: 0;
}

@keyframes lds-facebook {
    0% {
        top: 6px;
        height: 51px;
    }

    50%,
    100% {
        top: 19px;
        height: 26px;
    }
}

/* Header */

.cabezal {
    width: 100%;
    height: 680px;
    background: linear-gradient(to bottom,
            rgba(211, 135, 20, .6),
            /*rgba(29, 56, 241, 0.25)*/
		    rgba(211, 135, 20, .2),
            rgba(7, 109, 150, .45)),url(img/fondo.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

nav {
    width: 100%;
    position: fixed;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.9)
}

.nav1 {
    background: transparent;
    height: 80px;
    color: #fff;
}

.nav2 {
    background: #fff;
    height: 80px;
    color: #000;
    z-index: 10;
}

.contenedor-nav {
    display: flex;
    margin: auto;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
    height: inherit;
    overflow: hidden;
}

nav .enlaces a {
    display: inline-block;
    padding: 5px 5px ;
    margin-right: 18px;
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;
    border-bottom: 4px solid transparent;
    color: inherit;
}

nav .enlaces a:hover {
    border-bottom: 4px solid #1498a4;
    transition: 0.6s;
}

.logo,
.logo img {
    width: 460px;
}

.icono {
    display: none;
    font-size: 24px;
    padding: 23.5px 20px;
}

.textos {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #fff;
    overflow: hidden;
    text-align: center;
	font-family: 'Titillium Web', sans-serif;
}

.textos > h1 {
    font-size: 80px;
}

.textos > h2 {
    font-size: 30px;
    font-weight: bold;
}

/* Main */

.contenedor {
    margin: auto;
    padding: 30px 0;
    width: 90%;
    max-width: 1000px;
    text-align: center;
    overflow: hidden;
}

.contenedor h3 {
    font-size: 34px;
    color: rgb(207, 100, 9);
    margin-bottom: 7px;
}

.contenedor p {
    font-size: 17px;
    font-weight: 300;
}

.after::after {
    content: '';
    display: block;
    margin: auto;
    margin-top: 5px;
    width: 100px;
    height: 2px;
    background: rgb(207, 100, 9);
    margin-bottom: 10px;
}

.nos.contenedor{
    width: 61%;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin: 15px auto;
    margin-bottom: 5px;    
    padding: 20px;
}

.btn-nosotros{
    display: block;
    text-align: center;
    text-decoration: none;
    width: 120px;
    /*background: rgb(219, 144, .5);*/
	background: rgb(207, 100, 9);
    color: white;
    padding: 10px;
    margin: 10px auto;
    border-radius: 7px;
}

.card {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.content-card {
    width: 25%;
    box-shadow:0 0 18px 0 rgba(0, 0, 0, .5);
    overflow: hidden;
    height: 280px;
}

.people {
    height: 80%;
}

.content-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.texto-team {
    height: 20%;
    width: 100%;
    background: #004C97;
    padding: 20px 0;
}
.texto-team a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight:bold;
}
/*--------galeria de imagenes-----------------*/
.galeria h1,h2,h3,h4,h5,h6,p{
    font-family: 'Titillium Web', sans-serif;
}
.galeria h2{
    text-align: center;
    margin: 15px 0 0 0;
    font-weight: 500;
    font-size: 42px;
	color: rgb(207, 100, 9);
}
.galeria p{
	text-align: center;
	margin: 0 0 45px 0;
	font-size: 20px;
	font-weight: 500;
	color: rgb(207, 100, 9);
}
.contenedor-galeria{
	width: 1450px;
	margin: auto
}
.galeria{
    background: #e9e9ea;
    background-position: center;
    background-size: cover;
    padding: 5px 0 90px 0;
}
.btn-galeria{
    display: block;
	text-align: center;
    width: 400px;
	height: 60px;
    /*background: rgb(207, 150, 9);*/
	background: rgb(207, 100, 9);
    margin: 40px auto -70px;;
    border-radius: 7px;
}
.text-galeria{
	color: #fff;
	font-size: 22px;
	font-weight: 400;
	line-height: 60px;
	text-decoration: none;
}
.icon-plus-circle{
	display: inline-block;
}
.icon-plus-circle:before{
	font-size: 20px;
	position: absolute;
	margin: -16px 0 0 15px;
	
}
.fila{
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 3px;
}

.fila .imagen{
    width: 33%;
    position: relative;
    height: 300px;
    margin-bottom: 5px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .75);
	background: linear-gradient(360deg, rgba(211, 152, 0, 0.6), rgba(7, 109, 150, 0.50));
}
.imagen img{
    width: 100%;
    height: 100%;
    object-fit: cover;
	opacity: 0.9;
}
.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    /*background: rgba(0, 118, 192, 0.781);*/
    width: 100%;
    height: 0;
	background: -webkit-linear-gradient(top, rgba(211, 152, 20, 0.10), rgba(7, 109, 150, 0.80));
	background: -o-linear-gradient(top, rgba(211, 152, 20, 0.10), rgba(7, 109, 150, 0.80));
	background: linear-gradient(to bottom, rgba(211, 152, 20, 0.10), rgba(7, 109, 150, 0.80));
    overflow: hidden;
}
.overlay h2{
    color: #fff;
    font-weight: 300;
    font-size: 30px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.icon-chevron-circle-right:before{
	font-size: 40px;
	color: #fff;
	position: absolute;
	top: 45%;
	left: 46%;
}
.imagen:hover .overlay{
    height: 100%;
    cursor: pointer;
}

/*---------------------------------*/
section{
	display: block;
}
#data{
	height: auto;
	/*background: rgb(39, 172, 204);*/
	background: linear-gradient(to bottom,
            rgba(0, 54, 133, 0.9),
            rgb(39, 172, 204));
}
.data{
	margin: 0 auto;
}
#data div{
	display: block;
}
#data>div:not(.btn-grafica){
	margin: 0 auto;
	text-align: center;
	padding-top: 50px;
	width: 64%;
	height: 250px;
	border-bottom: 2px solid #fff;
}
#data .logo_data{
	float: left;
	width: 300px;
	height: 200px;
	background: url(img/eslogan-logo-tec.png) no-repeat;
	background-size: contain;
}
#data .text_data{
	float: right;
	width: 550px;
	color: #fff;
	font-size: 28px;
	font-weight: 100;
	line-height: 34px;
	text-align: left;
	margin-top: 70px;
	position: relative;
	top: -36px;
	margin-right: 30px;
}
#data .quote-left{
	display: block;
	width: 50px;
	height: 36px;
	background: url(img/quote_left.png) no-repeat;
	position: relative;
	top: -10px;
}
#data .quote-right{
	display: block;
	float: right;
	width: 27px;
	height: 20px;
	background: url(img/quote_right.png) no-repeat;
	position: relative;
	right: -10px;
	top: 10px;
}
.data .texto{
	line-height: 20px;
}

.icon{
	width: 100px;
	margin: 0 auto 0;
}
.data .cantidad{
	display: block;
	font-size: 50px;
	line-height: 52px;
	text-align: center;
}
.data .cantidad, .data .texto{
	position: relative;
	top: 10px;
	color: #fff;
	font-weight: 100;
}
.data .btn-grafica{
	display: block;
	margin: 0 auto;
	text-align: center;
	clear: both;
	padding-top: 5px;
	padding-bottom: 30px;
}
.data .btn-grafica a{
	margin: 0 auto;
	color: #00a4c8;
	font-weight: 300;
	line-height: 60px;
	background-color: #fff;
	width: 400px;
	height: 60px;
	border-radius: 7px;
}
.data .btn-grafica a,
.data .texto{
	display: block;
	font-family: Titillium Web;
	font-size: 22px;
	text-align: center;
}
.data a{
	text-decoration: none;
}
.data .grafica{
	margin-left: 27px;
	margin-top: 15px;
	margin-right: 26px;
	display: block;
	float: left;
}
.data .grafica:first-of-type{
	margin-top: 13px;	
}
.data .grafica canvas{
	transform: rotateX(-180deg);
	margin-top: -160px;
}
canvas{
	display: inline-block;
	vertical-align: baseline;
}

.data .btn-grafica span{
	margin-left: 10px;
}
/*----------responsive-----------------*/
@media screen and (max-width: 700px) {
    .nav2 {
        color: #fff;
    }

    .icono {
        display: block;
        cursor: pointer;
    }

    .enlaces {
        position: fixed;
        top: 80px;
        background: #2c3e50;
        left: 0;
        height: 100%;
        transition: 1s;
        width: 0;
        overflow: hidden;
    }

    .enlaces a {
        display: block;
        width: 100%;
        height: 50px;
        padding: 20px;
        text-align: center;
        background: #34495e;
        color: #fff;
    }

    .textos > h1 {
        font-size: 70px;
    }

    .textos > h2 {
        font-size: 35px;
    }

    .content-card {
        width: 48%;
        margin-bottom: var(--margenes);
    }

    :root {
        --margenes: 30px;
    }
}

@media screen and (max-width: 500px) {
    :root {
        --espacios-contenido: 25px;
    }

    .content-card {
        width: 90%;
    }

    .caja-servicios {
        width: 90%;
        margin-bottom: var(--margenes);
    }

    .cont-work {
        width: 85%;
    }

    .marca-logo {
        width: 80%;
    }

    .iconos {
        margin: auto;
    }
}
